{% extends 'base.html'%}

{% block content %}
<div class="container" style='margin-top:3%;'>
<div class="row">
  <div class='col-md-3'></div>
  <div class="col-md-6 text-center">
    <h2><strong>{{user.username| capitalize}}</strong></h2>
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>
    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input class='form-control' type="file"  name="photo" required><br>
      <button class='btn' type="submit">Submit</button>
    </form><br>
      {% endif %}
    {% if user.bio %}
      {{user.bio}}
    {%else%}
      You have no bio
    {% endif %}
    <p><strong>{{user.blogs.count()}}</strong> posts</p>
    <button class='btn btn-basic'><a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a></button>
  </div>
</div>
  <div class="row">
    <div>
      <h3 class='text-center'><strong>My blogs</strong></h3><br>
        {% if user.blogs %}
        <div class='row'>
          {% for blog in user.blogs %}
          <div class="panel col-md-6" style='padding:7px;box-shadow: 1px 1px 5px rgb(221, 226, 228);'>
            <a href="{{url_for('main.blog',id = blog.id)}}"><h5>{{blog.title}}</h5><hr></a>
            <p >{{blog.content|safe|truncate(30)}}</p>
            <a href="{{url_for('main.update_post',blog_id = blog.id)}}"><button class='btn btn-primary'>Edit</button></a>
            <a href="{{url_for('main.delete',blog_id = blog.id)}}"><button class='btn btn-danger'>Delete</button></a>
         </div>
         {% endfor %}
        </div>
        {% else %}
        <button class="btn btn-outline-info"><a href="{{url_for('main.new_blog')}}"><i class="fas fa-plus"></i>  Add your first blog</a></button></br><br>
        {% endif %}
        <button class="btn btn-outline-info"><a href="{{url_for('main.new_blog')}}"><i class="fas fa-plus"></i>  New post</a></button></br><br>
    </div>
  </div>
</div>
<footer class='footer' style='position:relative;left:0;bottom:0;background-color:rgb(241, 231, 237);padding:15px;text-align:center;width:100%;color:rgba(29, 28, 28, 0.993);'>Copyright 2020 | BlogApp</footer> 
{% endblock %}